.container form{
    margin-top: 3rem;
}

form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    color: white;
    border: 0;
    border-bottom: 2px solid rgb(190, 79, 212);
    border-radius: 0;
    -webkit-text-fill-color: rgb(102, 21, 168);
    font-size: 25px;

}

form input:focus{
    background-color: transparent !important;
    box-shadow: none !important;
}
