.bg-default{
    margin: 0;
    background: url('./pictures/default.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-day-fog{
    margin: 0;
    background: url('./pictures/dayfog.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-thunderstorm{
    margin: 0;
    background: url('./pictures/thunderstorm.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-sleet{
    margin: 0;
    background: url('./pictures/sleet.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-storm-showers{
    margin: 0;
    background: url('./pictures/storm-showers.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-snow{
    margin: 0;
    background: url('./pictures/snow.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-fog{
    margin: 0;
    background: url('./pictures/fog.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-sunny{
    margin: 0;
    background: url('./pictures/sunny.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}